{namespace p=Sandstorm\Plumber\ViewHelpers}
<f:layout name="Main" />

<f:section name="navigation">
	<li class="active"><f:link.action action="index">Overview</f:link.action></li>
</f:section>

<f:section name="header">
	<f:base />
	<link rel="stylesheet" type="text/css" href="../../../Public/DataTables/media/css/demo_table.css" />
	<script type="text/javascript" src="../../../Public/DataTables/media/js/jquery.js"></script>
	<!--<script type="text/javascript" src="../../../Public/DataTables/media/js/jquery.dataTables.min.js"></script>-->
	<script type="text/javascript" src="../../../Public/jquery.jeditable.mini.js"></script>
	<script type="text/javascript" src="../../../Public/bootstrap-twipsy.js"></script>
	<script type="text/javascript" src="../../../Public/bootstrap-popover.js"></script>
	<script type="text/javascript" src="../../../Public/crossfilter/d3.v2.js"></script>
	<script type="text/javascript" src="../../../Public/crossfilter/crossfilter.v1.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			<![CDATA[

			$('a[rel="popover"]').popover({html: true, placement: 'left'});
		});
	]]></script>
	<style type="text/css">
	#charts {
		padding: 10px 0;
	}

	.chart {
		display: inline-block;
		height: 151px;
		margin-bottom: 20px;
	}

	.reset, .zoom-in, .zoom-out {
		padding-left: 1em;
		font-size: smaller;
		color: #ccc;
	}

	.background.bar {
		fill: #ccc;
	}

	.foreground.bar {
		fill: steelblue;
		stroke: #000;
		stroke-width: 0.5px;
	}

	.axis path, .axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}

	.axis text {
		font: 10px sans-serif;
	}

	.brush rect.extent {
		fill: steelblue;
		fill-opacity: .125;
	}

	.brush .resize path {
		fill: #eee;
		stroke: #666;
	}

	.popover {
		font-size: 13px;
	}
	</style>
</f:section>

<f:section name="content">
	<div id="charts">
		<!--<f:for each="{options}" as="x" key="optionName">
			<div id="chart-{optionName}" class="chart">
				<div class="title">{optionName}</div>
			</div>
		</f:for>-->
		<f:for each="{settings.calculations}" as="calculationOptions" key="calculationName">
			<div id="chart-{calculationName}" class="chart">
				<div class="title">{calculationOptions.label}</div>
			</div>
		</f:for>
		<div id="chart-date" class="chart">
			<div class="title">Time of Day</div>
		</div>
	</div>

	<aside id="totals"><span id="active">-</span> of <span id="total">-</span> runs selected.</aside>

	<f:form method="GET" controller="Details" action="timeline">
		<p style="clear:both">
			<f:form.textfield name="file1" id="file1" value="" />
			<f:form.textfield name="file2" id="file2" value="" />
			<f:form.submit class="btn primary" value="Compare" />
		</p>
		<div id="lists">
			<table>
				<thead><tr>
					<th></th>
					<th></th>
					<th>Tags</th>
					<f:for each="{options}" as="x" key="optionName">
						<th>{optionName}</th>
					</f:for>
					<f:for each="{calculations}" as="calculationOptions">
						<th>{calculationOptions.label}</th>
					</f:for>
				</tr></thead>
				<tbody class="list" id="run-list">
				</tbody>
			</table>
		</div>
	</f:form>
	<f:link.action class="btn danger" action="removeAll">Remove <b>all</b> profiles</f:link.action>
	<f:link.action class="btn danger" action="removeAllUntagged">Remove all <b>un-tagged</b> profiles</f:link.action>


	<script type="text/javascript">
		<![CDATA[
			var uris = {
		]]>
			timelineDetails: "{f:uri.action(controller: 'Details', action: 'timeline')}",
			xhprofDetails: "{f:uri.action(controller: 'Details', action: 'xhprof')}",
			updateTags: '{f:uri.action(action:"updateTags")}',
			xhprofDebug: "{f:uri.action(controller: 'Details', action: 'xhprofDebug')}",
		};
		var profileData = {profileData -> f:format.raw()};
		var calculations = {calculationsJson -> f:format.raw()};
		var options = {optionsJson -> f:format.raw()};
	</script>
	<script type="text/javascript" src="../../../Public/crossfilter.js"></script>
</f:section>