<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8>">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>XHProf Report</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="../../Public/bootstrap.min.css">
		<f:render section="header" optional="1" />
	</head>
	<body style="margin-top:45px">
		<div class="topbar-wrapper" style="z-index:5;">
			<div class="topbar" data-dropdown="dropdown" >
				<div class="topbar-inner">
					<div class="container">
						<h3><a href="#">XHProf Reporting</a></h3>

						<ul class="nav">
							<f:render section="navigation" />
						</ul>
					</div>
				</div><!-- /topbar-inner -->
			</div><!-- /topbar -->
		</div><!-- /topbar-wrapper -->
		<f:render section="content" />
	</body>
</html>