<f:layout name="Main" />

<f:section name="header">
	<script>
		Timeline_ajax_url="{f:uri.resource(path:'timeline_2.3.0/timeline_ajax/simile-ajax-api.js')}";
		Timeline_urlPrefix="{f:uri.resource(path:'timeline_2.3.0/timeline_js/')}";
		Timeline_parameters='bundle=true';
	</script>
	<script src="{f:uri.resource(path:'timeline_2.3.0/timeline_js/timeline-api.js')}" type="text/javascript"></script>

	<script type="text/javascript" src="../../../Public/DataTables/media/js/jquery.js"></script>
	<script type="text/javascript" src="../../../Public/raphael-min.js"></script>
	<script type="text/javascript" src="../../../Public/timeline-adjustments.js"></script>
	<script type="text/javascript">
		var numberOfProfiles = {numberOfProfiles};

		<![CDATA[
		jQuery(document).ready(function($) {
			var timelineRunner = new TimelineRunner();
			timelineRunner.run(numberOfProfiles, $('#timeline'), $('#filter'));
			]]>

			{js -> f:format.raw()}

			timelineRunner.update();
		});
	</script>
	<style>
		.timeline-event-tape {
			border-right: 1px solid red;
			opacity: 0.7 !important;
		}
	</style>
</f:section>
<f:section name="navigation">
	<li><f:link.action controller="Overview" action="index">Overview</f:link.action></li>
	<li class="active"><a>Timeline View</a></li>
	<li><f:link.action action="xhprof" arguments="{run: file1}">XHProf View</f:link.action></li>
</f:section>

<f:section name="content">
	<div id="timeline" style="height: 600px; width:90%; border: 1px solid #aaa">
	</div>
	<div id="filter" style="position:fixed; right: 0; top: 70px; height: 500px; width:10%; border: 1px solid #aaa">
	</div>

	<div>
		<f:render section="runMetadata" arguments="{profile: profile, file: file1}" />
		<f:render section="runMetadata" arguments="{profile: profile2, file: file2}" />
	</div>
</f:section>
<f:section name="runMetadata">
	<f:if condition="{profile}">
		<h2>Metadata -- {file}</h2>
		<f:link.action class="btn small" action="xhprof" arguments="{run: file}">XHprof</f:link.action><br />
		<f:for each="{profile.options}" key="k" as="v">
			{k}: {v}<br />
		</f:for>
	</f:if>
</f:section>