<f:layout name="Main" />

<f:section name="navigation">
	<li><f:link.action controller="Overview" action="index">Overview</f:link.action></li>
	<li><f:link.action action="timeline" arguments="{file1: run}">Timeline View</f:link.action></li>
	<li class="active"><a>XHProf View</a></li>
</f:section>

<f:section name="header">
	<script type="text/javascript" src="../../../Public/DataTables/media/js/jquery.js"></script>
	<script type="text/javascript" src="../../../Public/list.min.js"></script>
</f:section>

<f:section name="content">
	<div id="list">
		<input class="search" placeholder="Filter List" style="float: right; margin-right: 10px; margin-top: 7px; margin-bottom: 10px;" />
		{contents -> f:format.raw()}
	</div>
	<script type="text/javascript">
    	var options = { valueNames: [ 'fn' ] };
	    var featureList = new List('list', options);
</script>
</f:section>