<f:layout name="Main" />

<f:section name="navigation">
	<li class="active"><f:link.action action="index">Overview</f:link.action></li>
	<li><a>Timeline View</a></li>
	<li><a>XHProf View</a></li>
</f:section>

<f:section name="content">
	<h1>Choose runs!</h1>
	<f:form method="GET" action="show">
		<table class="condensed-table">
			<tbody>
			<f:for each="{profiles}" as="profile" key="file">
				<tr>
					<td>
						<f:form.radio name="file1" value="{file}" />
						<f:form.radio name="file2" value="{file}" />
					</td>
					<td><f:link.action action="show" arguments="{file1: file}">{profile.startTime -> f:format.date(format: 'Y-m-d H:i:s')}</f:link.action> -- {profile.options.controllerName} <f:link.action action="xhprof" arguments="{run: file}">xhprof</f:link.action></td>
				</tr>
			</f:for>
			</tbody>
		</table>
		<f:form.submit class="btn primary" value="Compare" />
	</f:form>
</f:section>